<ul class="menu menu--main menu--horizontal">
    <li class="menu-node menu-node--main_lvl_1 menu-node--active">
        <a href="#" class="menu-link menu-link--active">Пункт 1</a>
        <ul class="menu menu--dropdown menu--vertical">
            <li class="menu-node menu-node--main_lvl_2">
                <a href="#" class="menu-link">Подпункт 1.1</a>
            </li>
            <li class="menu-node menu-node--main_lvl_2">
                <a href="#" class="menu-link">Подпункт 1.2</a>
            </li>
        </ul>
    </li>
    <li class="menu-node menu-node--main_lvl_1">
        <a href="#" class="menu-link">Пункт 2</a>
    </li>
    <li class="menu-node menu-node--main_lvl_1">
        <a href="#" class="menu-link">Пункт 3</a>
    </li>
</ul>